.detailMovie{
    background: #242424;
    width: 60%;
    height: 700px;
    margin: auto;
}
.topDetailMovie{
    background: #101017;

    height: 65%;
}
.trailer{
    float: left;
    width: 50%;
}
.imgTrailer{
   margin-left: 30px;
}
.imgTrailer img {
    margin-top: 20px;
    height: 400px;
    width: 400px;

}
.buttonXem{
    margin-left: 170px;
}
.buttonXem button{
    padding: 5px 10px;
    background: #c3fffa;
    color: #ff4232;
    font-weight: bolder;
}
.buttonXem button:hover{
    background: #61dafb;
    cursor: pointer;
}
.inforMovie{
    float: left;
    margin-left: 20px;
    width: 40%;
}
.inforMovie ul{
    margin-top: 5px;
}
.inforMovie ul li{
    padding: 17px ;
    color: #daffae;
}
.inforMovie ul li h1{
    color: #ff7f2e;
}
.bottomDetailMovie{
    background: #f4ffbc;
    margin-bottom: 10px;
    height: 35%;
}
.bottomDetailMovie h1{

    text-align: center;
}
.bottomDetailMovie p{
    padding: 10px;
    width: 90%;
    margin: auto;
    font-max-size: xx-large;
    line-height: 32px;
    font-weight: bolder;
}