*{
    margin: 0px;
    font-size: medium !important;
}
.wrapper{
    width: auto;
    margin: auto;
}
.header{
    width: 100%;
    height: 100px;
    background: #ff1472;
    border:1px solid #ffedc8;
    text-align: center;
}
.header ul{
    float: right;
    position: absolute;
    top:10px;
    right: 10px;
}
.header ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
.header ul li a {
    text-decoration: none;
    display: block;
}
.header ul li a:hover {
    text-decoration:underline;
}
.menu{
    width: auto;
    height: 70px;
    background: #9d71ff;
    border:1px solid #ffedc8;
}
.menu ul {
    text-align: center;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 30px 31px 30px;
}
.menu ul li a:hover {
    background: #f5ff66;
}
.menu2{
    width: auto;
    height: 40px;
    background: #ffd77b;
    border:1px solid #ffedc8;
}
.menu2 ul{
    text-align: center;
}
.menu2 ul li{
    list-style: none;
    display: inline-block;
}
.menu2 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px 30px;
}
.menu2 ul li a:hover {
    background: #f5ff66;
}
.calendar table{
    margin: 10px auto;
}
.calendar table tr{
    text-align: center;
}
.calendar table tr td{
    padding: 10px 40px;
}
.container{
    width: 1100px;
    margin: auto;
}
.calendar{
    height: 120px;
    background: #c7f5ff;
    border:1px solid #ffedc8;
}
div.muaVe > div{
    display: none;
}
div.muaVe > div:first-child{
    display: block;
}
.lichChieuPhim {
    margin: auto;
    width: 1100px;
    height: 600px;
    background-color:moccasin;
}
.content1{
    width: 70%;
    height: 600px;
    background: #f7ffb4;
    float: left;
}
.header1{
    height: 20%;
    background: bisque;
}
.header1 ul{
    float:left;

    margin-left: 0px;
}
.header1 ul li{
    list-style: none;
    display: inline-block;
}
.header1 ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 50px 30px 0px;
}
.header1 ul li a:hover {
    text-decoration:underline;
}
.position{
    width: 40%;
    height: 80%;
    background: navajowhite;
    float: left;
}
.position ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.position ul li{
    list-style: none;
    text-align:center;
}
.position ul li a {
    text-decoration: none;
    padding: 17px 16px;
    display: block;
}
.position ul li a:hover {
    background: #f5ff66;
}
div.Table > div{
    display: none;
}
div.Table > div:first-child{
    display: block;
}
.Table table{
    float: left;
    position: relative;
    width: 60%;
}
.Table table tr{
    padding: 12px;
    text-align: center;
}
.Table table tbody tr td button:hover{

    background: red;
}
.content2{
    width: 30%;
    height: 600px;
    background: #ffedc8;
    float: right;
}
.header2{
    height: 20%;
    background: #ffa5b9;
    text-align: center;
}
.header2 ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.header2 ul li{
    list-style: none;
    display: inline-block;
}
.header2 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 20px 32px 20px;
}
.header2 ul li a:hover {
    background: #f5ff66;}
.list{
    height: 80%;
    background: #daffae;
    overflow-y: scroll;
}
.list ul{

}
.list ul li{

}
.list ul li a {
    text-decoration: none;
    display: block;
    padding: 30px 0px;
}
.list ul li a:hover {
    text-decoration:underline;
}
.ticket{
    height: 400px;
    background: #c1ffe1;
    clear: both;
}
.ticket li{
    padding: 30px 0px;
}
.ticket img{
    float: right ;
    height: 400px;
}
.footer{
    width: 1100px;
    height: 300px;
    background: #584eff;
    clear: both;
    margin: auto;
}
.footer p{
    margin-bottom: 0px;
}
.choseTime label{
    display: inline-block;
    padding: 0px 10px;
}
